# Python / Django
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3
backend/media/
backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# Office lock files
~$*

# IDE
.vscode/
.idea/
*.swp
